<form class="password-login-form" (submit)="onSubmit($event)">
  <div class="password-login-form__field">
    <label class="password-login-form__label" for="email">
      Adresse email
    </label>

    <input
      id="email"
      class="password-login-form__input"
      type="email"
      autocomplete="email"
      [formField]="loginForm.email"
    />

    @if (loginForm.email().touched() && loginForm.email().invalid()) {
      <ul class="password-login-form__errors">
        @for (error of loginForm.email().errors(); track error) {
          <li>{{ error.message }}</li>
        }
      </ul>
    }
  </div>

  <div class="password-login-form__field">
    <label class="password-login-form__label" for="password">
      Mot de passe
    </label>

    <input
      id="password"
      class="password-login-form__input"
      type="password"
      autocomplete="current-password"
      [formField]="loginForm.password"
    />

    @if (loginForm.password().touched() && loginForm.password().invalid()) {
      <ul class="password-login-form__errors">
        @for (error of loginForm.password().errors(); track error) {
          <li>{{ error.message }}</li>
        }
      </ul>
    }
  </div>

  <button
    class="password-login-form__submit"
    type="submit"
    [disabled]="loginForm().invalid() || loginForm().submitting()"
  >
    @if (loginForm().submitting()) {
      Connexion...
    } @else {
      Se connecter
    }
  </button>
</form>
